@charset "ISO-8859-1";
body{
	background-color:#F8F9FC;
}
.navbar{
	background-color:#274C9F;
	border-radius:0px;
	border-style:none;
}
.navbar-default { margin : 0 !important; }
.navbar a{
	color:white !important;
}
.content{
	background-color:white;
	margin-top:1%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
	padding:10px;
}
.content h3{
	font-family: Arial;
	color:#274C9F;
	text-align:left;
	
}
.content button{	
	border-radius:0px;
	border-style:none;
}

.content input{	
	border-radius:0px;
}

.content select{	
	border-radius:0px;
}
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 92vh;
}
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #fff;
    color: #274C9F;
    transition: all 0.3s;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #274C9F;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #fff;
    background: #274C9F;
}

#sidebar ul li.active > a {
    color: #fff;
    background: #274C9F;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #fff;
}
.glyphicon:before {
  margin-right: 10px;
}