@charset "ISO-8859-1";
body{
	background-color:#F8F9FC;
}
.navbar{
	background-color:#274C9F;
	border-radius:0px;
	border-style:none;
}
.navbar a{
	color:white !important;
}
.login{
	background-color:white;
	width:30%;
	align:center;
	margin-top:13%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding:10px;
}
.login h2{
	font-family: Arial;
	color:#274C9F;
	text-align:center;
	
}
.login button{
	background-color:#274C9F;
	font-family: Arial;
	color: white;
	border-radius:0px;
	border-style:none;
}